<form [formGroup]="registerForm"  (ngSubmit)="registerForm.valid" novalidate></form>
<div class="example-container">
  <mat-form-field>
  
    <input matInput placeholder="first Name" [(ngModel)]="user.nom">
  </mat-form-field>

  <mat-form-field>  
    <input matInput placeholder="Last Name"[(ngModel)]="user.prenom">
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Gendre" [(ngModel)]="user.genre">
      <mat-option value="option">Women</mat-option>
      <mat-option value="option">Man</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="user.date_naiss">
    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cin" type="number" class="example-left-align" [(ngModel)]="user.cin">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="user.type">
      <mat-option value="option">Fitness</mat-option>
      <mat-option value="option">Gaming</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required [(ngModel)]="user.adresse_mail">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="select"
    placeholder="Phone Number" type="number" class="example-left-align"
     name="tel" [(ngModel)]="user.tel" ng-minlength = "8"
    ng-maxlength = "8">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gouvernorat" [(ngModel)]="user.gouernorat">
      <mat-option value="option">tunis</mat-option>
      <mat-option value="option">Ariana</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Ville" [(ngModel)]="user.ville">
      <mat-option value="option">sokra</mat-option>
      <mat-option value="option">hay tadhamen</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="certificat" [(ngModel)]="user.certificat">
  </mat-form-field>


  <button mat-raised-button  type="submit" (click)="add()">SIGN UP</button>
</div>