<section class="cards">
    <article class="card card--1">
      <div class="card__info-hover">
        
          <div class="card__clock-info">
           
          </div>
        
      </div>
      <div class="card__img"></div>
      <a [routerLink]="['/formClient']" routerLinkActive="active" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category"> Client</span>
        <h3 class="card__title">SignUp</h3>
       
      </div>
    </article>
      
      
    <article class="card card--2">
      <div class="card__info-hover">
      
          <div class="card__clock-info">
          
          </div>
        
      </div>
      <div class="card__img"></div>
      <a [routerLink]="['/formCoach']" routerLinkActive="active" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category"> Coach</span>
        <h3 class="card__title">SignUp</h3>
        
      </div>
    </article>  
      
      
      
      </section>